<form class="flex flex-row justify-center place-items-center h-full w-fit" [formGroup]="form" (ngSubmit)="submit()">
  <div class=" p-5 flex flex-col gap-y-2">

    <div class="flex flex-col mb-3">
      <span class="text-xl font-bold">Tambah news</span>
      <span class="text-xs text-slate-500">Isi untuk menambah news</span>
    </div>

    <div class="flex flex-col gap-y-1">
      <div class="flex flex-row bg-slate-100 gap-x-3 px-3 place-items-center rounded-lg"
        [ngClass]="(title?.touched && title?.hasError('required')) ? 'border-2 border-red-400' : ''">
        <fa-icon [icon]="icon.faUser" class="basis-1/8 text-center"></fa-icon>
        <input type="text" class="focus:outline-none grow py-2 bg-transparent text-sm" placeholder="Judul"
          formControlName="title">
        <!-- <fa-icon [icon]="icon.faMail" class="basis-1/8 text-center"></fa-icon> -->
      </div>
      <span class="text-red-500 text-xs ml-3" *ngIf="title?.hasError('required') && title?.touched">Judul harus di
        isi!</span>
    </div>

    <div class="flex flex-col gap-y-1">
      <div class="flex flex-row bg-slate-100 gap-x-3 px-3 place-items-center rounded-lg"
        [ngClass]="(content?.touched && content?.hasError('required')) ? 'border-2 border-red-400' : ''">
        <fa-icon [icon]="icon.faMail" class="basis-1/8 text-center"></fa-icon>
          <textarea cols="30" rows="5" class="focus:outline-none grow py-2 bg-transparent text-sm align-middle" formControlName="content" placeholder="Konten"></textarea>
        <!-- <fa-icon [icon]="icon.faMail" class="basis-1/8 text-center"></fa-icon> -->
      </div>
      <span class="text-red-500 text-xs ml-3" *ngIf="content?.hasError('required') && content?.touched">Kontent harus di
        isi!</span>
    </div>
    <div class="flex flex-col gap-y-1">
      <div class="flex flex-row bg-slate-100 gap-x-3 px-3 place-items-center rounded-lg"
        [ngClass]="(thumbnail?.touched && thumbnail?.hasError('required')) ? 'border-2 border-red-400' : ''">
        <fa-icon [icon]="icon.faThumbail" class="basis-1/8 text-center"></fa-icon>
        <input type="file" class="focus:outline-none grow py-2 bg-transparent text-sm file:border-none file:bg-slate-500 file:hover:bg-slate-600 file:rounded-lg file:p-2 file:text-white" placeholder="Konten"
          (change)="onFileSelect($event.target)">
        <!-- <fa-icon [icon]="icon.faMail" class="basis-1/8 text-center"></fa-icon> -->
      </div>
      <span class="text-red-500 text-xs ml-3" *ngIf="thumbnail?.hasError('required') && thumbnail?.touched">Kontent
        harus di
        isi!</span>
    </div>
    <ng-container *ngIf="data != null && image == null && path == null">
      <div class="flex flex-col bg-red-500">
        <img [src]="data.thumbnail" alt="" class="w-72 bg-green-500 object-cover">
      </div>
    </ng-container>
    <ng-container *ngIf="image != null && path != null">
      <div class="flex flex-col bg-red-500 w-72">
        <img [src]="path" alt="" class="w-full bg-green-500 object-cover">
      </div>
    </ng-container>


    <div class="flex flex-row gap-x-2">
      <button class="bg-red-500 rounded-lg p-1 hover:bg-red-600 text-white grow" type="button"
        (click)="close()">Batal</button>
      <button class="bg-green-500 rounded-lg p-1 hover:bg-green-600 text-white grow" type="submit">Submit</button>

    </div>

  </div>
</form>
