<div class="h-screen bg-slate-100 text-slate-700">
  <form class="flex flex-row justify-center place-items-center h-full" [formGroup]="form" (ngSubmit)="submit()">
    <div class="basis-1/4 bg-white shadow-lg rounded-lg p-5 flex flex-col gap-y-2">

      <div class="flex flex-col mb-3">
        <span class="text-xl font-bold">Login</span>
        <span class="text-xs text-slate-500">Masuk untuk melanjutkan</span>
      </div>

      <div class="flex flex-col gap-y-1">
        <div class="flex flex-row bg-slate-100 gap-x-3 px-3 place-items-center rounded-lg" [ngClass]="(email?.touched && email?.hasError('required')) || email?.hasError('email') ? 'border-2 border-red-400' : ''">
          <fa-icon [icon]="icon.faMail" class="basis-1/8 text-center"></fa-icon>
          <input type="email" class="focus:outline-none grow py-2 bg-transparent text-sm" placeholder="Email" formControlName="email">
          <!-- <fa-icon [icon]="icon.faMail" class="basis-1/8 text-center"></fa-icon> -->
        </div>
        <span class="text-red-500 text-xs ml-3" *ngIf="email?.hasError('required') && email?.touched">Email harus di isi!</span>
        <span class="text-red-500 text-xs ml-3" *ngIf="email?.hasError('email')">Email tidak valid!</span>
      </div>

      <div class="flex flex-col gap-y-1">
        <div class="flex flex-row bg-slate-100 gap-x-3 px-3 place-items-center rounded-lg" [ngClass]="(password?.touched && password?.hasError('required')) || password?.hasError('minlength') ? 'border-2 border-red-400' : ''">
          <fa-icon [icon]="icon.faPassword" class="basis-1/8 text-center"></fa-icon>
          <input type="password" class="focus:outline-none grow py-2 bg-transparent text-sm" placeholder="Password" formControlName="password">
          <!-- <fa-icon [icon]="icon.faMail" class="basis-1/8 text-center"></fa-icon> -->
        </div>
        <span class="text-red-500 text-xs ml-3" *ngIf="password?.hasError('required') && password?.touched">Password harus di isi!</span>
        <span class="text-red-500 text-xs ml-3" *ngIf="password?.hasError('minlength')">Minimal 8 karakter!</span>
      </div>

      <button class="bg-green-500 rounded-lg p-1 hover:bg-green-600 text-white">login</button>
    </div>
  </form>
</div>
