<div class="flex flex-col gap-3">

  <div class="grid grid-cols-12 gap-2 lg:gap-3">
    <div class="col-span-12 md:col-span-6 lg:col-span-3">
      <app-card-dashboard [icon]="icon.faAllUser" title="total account" [value]="allAccount.length.toString()"
        [isIncrement]="true" valueChange="20">
      </app-card-dashboard>
    </div>
    <div class="col-span-12 md:col-span-6 lg:col-span-3">
      <app-card-dashboard [icon]="icon.faUser" title="total user" [value]="allUser.length.toString()" [isIncrement]="true"
        valueChange="20">
      </app-card-dashboard>
    </div>
    <div class="col-span-12 md:col-span-6 lg:col-span-3">
      <app-card-dashboard [icon]="icon.faAdmin" title="total admin" [value]="allAdmin.length.toString()" [isIncrement]="false"
        valueChange="5">
      </app-card-dashboard>
    </div>
    <div class="col-span-12 md:col-span-6 lg:col-span-3">
      <app-card-dashboard [icon]="icon.faOperator" title="total operator" [value]="allOperator.length.toString()"
        [isIncrement]="true" valueChange="5">
      </app-card-dashboard>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-2 lg:gap-3">
    <div class="col-span-12 lg:col-span-8">
      <div class="bg-white rounded-lg p-4 shadow-lg flex flex-col h-full">
        <canvas class="" baseChart [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
          [legend]="barChartLegend" [type]="'bar'">
        </canvas>
      </div>
    </div>
    <div class="col-span-12 lg:col-span-4">
      <div class="bg-white rounded-lg p-4 shadow-lg flex flex-col h-full">
        <canvas baseChart [type]="'pie'" [datasets]="pieChartDatasets" [labels]="pieChartLabels" [options]="pieChartOptions"
          [plugins]="pieChartPlugins" [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>
  </div>

</div>
